@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<main id="main-dashboard-right-container" class="main">
    <div id="report-dashboard" class="reports-dashboard currentShownSlide">
        <div class="main-header main-header-airlineAdmin">
            <div class="main-header__intro-wrapper">
                <div class="main-header__welcome">
                    <div class="main-header__welcome-title text-light"><strong id="airlineName">America Airlines</strong></div>
                    @*<div class="main-header__welcome-subtitle text-light">How are you today?</div>*@
                </div>
                <div class="quickview">
                    <div class="quickview__item">
                        <div class="quickview__item-total">0</div>
                        <div class="quickview__item-description">
                            <i class="far fa-calendar-alt"></i>
                            <span class="text-light">Vuelos hoy</span>
                        </div>
                    </div>
                    <div class="quickview__item">
                        <div class="quickview__item-total">0</div>
                        <div class="quickview__item-description">
                            <i class="far fa-comment"></i>
                            <span class="text-light">Tiquetes Vendidos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-overview">
            <div class="overviewCard" id="gates-gain">

            </div>
            <div class="overviewCard" id="runway-gain">

            </div>
            <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--mail">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light">Ganancia de <strong>Tiendas</strong></h3>
                    <p class="overviewCard-subtitle" id="store-gain">+10</p>
                </div>
            </div>
            <div class="overviewCard">
                <div class="overviewCard-icon overviewCard-icon--photo">
                    <i class="far fa-file-image"></i>
                </div>
                <div class="overviewCard-description">
                    <h3 class="overviewCard-title text-light">New <strong>Album</strong></h3>
                    <p class="overviewCard-subtitle">Cantidad de Puertas</p>
                </div>
            </div>
        </div> <!-- /.main__overview -->

        <div class="main__cards">
            <div class="card card--finance">

                <div id="bigBarChart"></div>

                <div style="column-count: 3; background-color: white; padding: 2px;">
                    <div class="store-card-header">
                        Tienda 1
                    </div>
                    <div class="store-card-hero">
                        500 ganancia
                    </div>
                    <div class="store-card-footer">
                        Rent: 50
                        Categoria: Churros
                    </div>
                </div>
                <div class="card card--finance total-revenue-card">
                    <div class="store-card-header">
                        Tienda 1
                    </div>
                    <div class="store-card-hero">
                        500 ganancia
                    </div>
                    <div class="store-card-footer">
                        Rent: 50
                        Categoria: Churros
                    </div>
                </div>

                <div class="store-card-header">
                    Tienda 1
                </div>
                <div class="store-card-hero">
                    500 ganancia
                </div>
                <div class="store-card-footer">
                    Rent: 50
                    Categoria: Churros
                </div>
            </div>


        </div>

        <div class="main__cards">
            @*<div class="card">
                    <div class="card__header">
                        <div class="card__header-title text-light">
                            Your <strong>Events</strong>
                            <a href="#" class="card__header-link text-bold">View All</a>
                        </div>
                        <div class="settings">
                            <div class="settings__block"><i class="fas fa-edit"></i></div>
                            <div class="settings__block"><i class="fas fa-cog"></i></div>
                        </div>
                    </div>
                    <div class="card__main">
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-gift"></i></div>
                            <div class="card__time">
                                <div>today</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold">Jonathan G</div>
                                <div class="card__description">Going away party at 8:30pm. Bring a friend!</div>
                                <div class="card__note">1404 Gibson St</div>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-plane"></i></div>
                            <div class="card__time">
                                <div>Tuesday</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold">Matthew H</div>
                                <div class="card__description">Flying to Bora Bora at 4:30pm</div>
                                <div class="card__note">Delta, Gate 27B</div>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-book"></i></div>
                            <div class="card__time">
                                <div>Thursday</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold">National Institute of Science</div>
                                <div class="card__description">Join the institute for an in-depth look at Stephen Hawking</div>
                                <div class="card__note">7:30pm, Carnegie Center for Science</div>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-heart"></i></div>
                            <div class="card__time">
                                <div>Friday</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold">24th Annual Heart Ball</div>
                                <div class="card__description">Join us and contribute to your favorite local charity.</div>
                                <div class="card__note">6:45pm, Austin Convention Ctr</div>
                            </div>
                        </div>
                        <div class="card__row">
                            <div class="card__icon"><i class="fas fa-heart"></i></div>
                            <div class="card__time">
                                <div>Saturday</div>
                            </div>
                            <div class="card__detail">
                                <div class="card__source text-bold">Little Rock Air Show</div>
                                <div class="card__description">See the Blue Angels fly with roaring thunder</div>
                                <div class="card__note">11:00pm, Jacksonville Airforce Base</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card__header">
                        <div class="card__header-title text-light">
                            Recent <strong>Documents</strong>
                            <a href="#" class="card__header-link text-bold">View All</a>
                        </div>
                        <div class="settings">
                            <div class="settings__block"><i class="fas fa-edit"></i></div>
                            <div class="settings__block"><i class="fas fa-cog"></i></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="documents">
                            <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">tesla-patents</div>
                                <div class="document__date">07/16/2018</div>
                            </div>
                            <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">yearly-budget</div>
                                <div class="document__date">09/04/2018</div>
                            </div>
                            <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">top-movies</div>
                                <div class="document__date">10/10/2018</div>
                            </div>
                            <div class="document">
                                <div class="document__img"></div>
                                <div class="document__title">trip-itinerary</div>
                                <div class="document__date">11/01/2018</div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="card card--finance">
                <div class="card__header">
                    <div class="card__header-title text-light">
                        Ganancia de <strong>tiendas</strong> este mes
                        <a href="#" class="card__header-link text-bold">View All</a>
                    </div>
                    <div class="settings">
                        <div class="settings__block"><i class="fas fa-edit"></i></div>
                        <div class="settings__block"><i class="fas fa-cog"></i></div>
                    </div>
                </div>

                <div id="storesPieChart"></div>

            </div>
            <div class="card card--finance">
                <div class="card__header">
                    <div class="card__header-title text-light">
                        Paises <strong>más visitados</strong> este mes
                    </div>
                    <div class="settings">
                        <div class="settings__block"><i class="fas fa-edit"></i></div>
                        <div class="settings__block"><i class="fas fa-cog"></i></div>
                    </div>
                </div>

                <div id="worldMapChart"></div>
            </div>
            <div class="card card--finance">
                <div class="card__header">
                    <div class="card__header-title text-light">
                        Cantidad de <strong>tiendas por categoria</strong>
                    </div>
                    <div class="settings">
                        <div class="settings__block"><i class="fas fa-edit"></i></div>
                        <div class="settings__block"><i class="fas fa-cog"></i></div>
                    </div>
                </div>
                <div id="categoryChartContainer"></div>
            </div>


        </div> <!-- /.main-cards -->


        <div style="column-count: 3; background-color: white; padding-left: 20px;">
            <div class="store-card card">
                @*@Html.GetUserHistoryAirport()*@
            </div>
            <div class="store-card card">
                Status Enabled
            </div>
            <div class="store-card card">
                Current Tax
            </div>
        </div>
    </div>
    @*Edit Airport*@
    <div id="loading-skeleton" style="display: none">
        <div class="skeleton" style="width: 100%;margin: 17px 5px;"></div>
        <div class="skeleton skeleton-triple " style="width: 20%;float: left;height: 110px;"></div>
        <div class="skeleton skeleton-triple " style="width: 20%;float: left;height: 110px;"></div>
        <div class="skeleton skeleton-triple " style="width: 20%;height: 110px;float: left;"></div>
        <div class="skeleton skeleton-single-line"></div>
        <div class="skeleton skeleton-single-line"></div>
        <div class="skeleton skeleton-middle" style="height: 300px;"></div>
        @*<div class="skeleton" style="width: 30%"></div>
            <div class="skeleton" style="width: 40%"></div>*@
    </div>
    @*Edit Airport*@

</main>

<div id="generalScoreCardContainer" class="generalDashboardContainer">


    <div id="scoreCard-template">
        <div class="overviewCard-icon overviewCard-icon--document">
            @*<i class="far fa-file-alt"></i>*@
            <img class="scoreImage" url="" />
        </div>
        <div class="overviewCard-description">
            <h3 class="overviewCard-title text-light scoreTitle"></h3>
            <p class="overviewCard-subtitle scoreValue"></p>
        </div>
    </div>


    @*<div id="scoreCard-template">
            <img class="scoreImage" url="" />
            <h3 class="overviewCard-title text-light scoreTitle"></h3>
            <p class="overviewCard-subtitle scoreValue"></p>
        </div>*@

    @*<div id="scoreCard-template">
            <div class="scoreCard">
                <img class="scoreImage" url=""/>
                <span class="scoreTitle"></span>
                <span class="scoreValue"></span>
            </div>

        </div>*@
</div>



@section pageCss
{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
    <style>

        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
        }

        /*Store Card*/
        .store-card-header {
            background-color: #5D5D5D;
            color: white;
        }

        .store-card {
            border: 1px solid #8B8B8B;
        }
        /*End Store Cards*/
        .scoreImage {
            width: 100%;
        }

        #scoreCard-template {
            display: none;
        }

        .scoreTitle {
            font-weight: bold;
        }

        .scoreCard {
            border: 1px solid black;
            width: 20%;
        }

        .skeleton-triple {
            float: left;
            margin: 20px 6%;
        }

        .skeleton-middle {
            margin: 0 auto;
            width: 30%;
        }

        .skeleton-single-line {
            width: 75%;
            margin: 20px auto;
        }
    </style>
}

@section headerScripts
{
    <script src="~/Scripts/GoogleCharts.js"></script>
}


@section scripts{
    <script src="~/Scripts/Views/ControlActions.js"></script>
    <script src="~/Scripts/CoreCodeScripts/Dashboard.js"></script>
}