
<div id="create-category-container" style="display: none">
<h2>CreateCategory</h2>
<section>
    <div>
        <button type="button" id="btnListCategory">Ver categorias</button>
    </div>
    
    <div>
        <h2>
            Ingrese los datos de la categoría a registrar
        </h2>
    </div>
    @*<div>
            <input type="text" id="txtId" placeholder="Código de la categoría:" required>
        </div>*@
    <div>
        <input type="text" id="txtDescription" placeholder="Descripción de la categoría:" required>
    </div>

    <div id="btnControl">
        <button type="button" id="btnRegisterCategory">Registrar</button>
        <button type="button" id="btnCancel">Cancelar</button>
    </div>
</section>
</div>
@* Scripts Section *@
<script src="~/Scripts/CoreCodeScripts/Categories/CategoryRegister.js"></script>
