@model CoreCode.Web.UI.Models.HtmlComponents.GenericButtonHtmlComponent
<button id="@Model.Id" type="button" class="btn btn-primary btn-custom @Model.GetCustomCssClasses" style="background-color: @Model.Color">@Model.ButtonValue</button>
