@using CoreCode.Web.UI.Models.Controls
@using CoreCode.Web.UI.Models.Helpers
@{
    ViewBag.Title = "Recover Password";
}

@section pageCss
{
    
}


    <body>
       
        <!-- =====================================
    ==== Start Header -->
        <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="/Resources/img/bg4.jpg"   data-stellar-background-ratio="0.5" >
            <div class="container">
                <div class="text-center caption mt-30">
                    
                    <div class="row">
                        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <p>Recuperar Contraseña</p>
                        </div>
                        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <label for="inputMail">Email</label>
                            <input type="text" class="form-control" id="inputMail" placeholder="Email" required>
                        </div>

                    <div class="form-group col-md-6">
                        <button id="btnRecoverPassword" type="submit" class="btn btn-success">Recuperar</button>
                    </div>
                        
                    </div>
                    <!--  <a href="#0" class="butn butn-light mt-30">
                      <span>Get Started</span>
                  </a> -->
                </div>
            </div>
        </header>


        @section scripts{

            <script src="~/Scripts/CoreCodeScripts/ApiService.js"></script>
            <script src="~/Scripts/CoreCodeScripts/recoverPassword/RecoverPassword.js" ></script>
            

        }
