.title {
    padding-bottom: 5%;
    padding-left: 25%;
}

.navbar {
    background-color: black;
    border-bottom: gray 2px solid;
}

.nav-link {
    color: white !important;
}

.nav-item:hover {
    border-bottom: lightgray !important;
}

.btn {
    color: white;
}

    .btn:hover {
        background-color: lightgray;
        color: white;
    }

.mainSection {
    padding-left: 10%;
}

.row {
    padding-bottom: 2em;
}

.contenedorBoton {
    padding-left: 28%;
    padding-top: 5em;
    padding-bottom: 5em;
}

.register{
    
}

.cancel {
    margin-left: 10%;
}

.navbar {
    background-color: black;
    border-bottom: gray 2px solid;
.nav-link {
    color: white !important;
}

.nav-item:hover {
    border-bottom: lightgray !important;