USE [master]
GO
/****** Object:  Database [CoreCode_Airport_Web]    Script Date: 5/2/2019 10:08:28 PM ******/
CREATE DATABASE [CoreCode_Airport_Web]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoreCode_Airport_Web', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CoreCode_Airport_Web.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoreCode_Airport_Web_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CoreCode_Airport_Web_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoreCode_Airport_Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoreCode_Airport_Web]
GO
USE [CoreCode_Airport_Web]
GO
/****** Object:  Table [dbo].[Exceptions]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exceptions](
	[id_exception] [int] IDENTITY(1,1) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[message] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exception] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id_message] [int] IDENTITY(1,1) NOT NULL,
	[message] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_message] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRLINE](
	[ID] [nvarchar](50) NOT NULL,
	[COMERCIAL_NAME] [nvarchar](50) NOT NULL,
	[BUSINESS_NAME] [nvarchar](50) NOT NULL,
	[CREATION_YEAR] [datetime] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[REQUEST] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_AIRLINE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRLINE_ADMIN]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRLINE_ADMIN](
	[ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_NAME] [nvarchar](50) NULL,
	[FIRST_LAST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_LAST_NAME] [nvarchar](50) NULL,
	[BIRTHDATE] [date] NOT NULL,
	[GENRE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[CIVIL_STATUS] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ID_ROL] [nvarchar](50) NOT NULL,
	[ID_AIRLINE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_AIRLINE_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRLINE_X_AIRPORT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRLINE_X_AIRPORT](
	[AIRLINE_ID] [nvarchar](50) NOT NULL,
	[AIRPORT_ID] [nvarchar](50) NOT NULL,
	[REQUEST] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRPLANE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRPLANE](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[QUOTA_FIRST_CLASS] [int] NULL,
	[QUOTA_SECOND_CLASS] [int] NULL,
	[QUOTA_LOAD] [int] NULL,
	[TYPE] [nvarchar](50) NOT NULL,
	[ID_AIRLINE] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_AIRPLANE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRPORT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRPORT](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[ADDRESS] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[LATITUDE] [nvarchar](50) NULL,
	[LONGITUDE] [nvarchar](50) NULL,
	[ZIPCODE] [nvarchar](50) NOT NULL,
	[GATE_TARIFF] [decimal](27, 2) NOT NULL,
	[RUNWAY_TARIFF] [decimal](27, 2) NOT NULL,
	[TAX] [decimal](27, 2) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ASIGNED] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_AIRPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRPORT_ADMIN]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRPORT_ADMIN](
	[ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_NAME] [nvarchar](50) NULL,
	[FIRST_LAST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_LAST_NAME] [nvarchar](50) NULL,
	[BIRTHDATE] [date] NOT NULL,
	[GENRE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[CIVIL_STATUS] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ID_ROL] [nvarchar](50) NOT NULL,
	[ID_AIRPORT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_AIRPORT_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AIRPORT_STORE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AIRPORT_STORE](
	[ID] [nvarchar](50) NOT NULL,
	[ID_AIRPORT] [nvarchar](50) NOT NULL,
	[ID_STORE] [nvarchar](50) NOT NULL,
	[RENT] [decimal](18, 2) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_AIRPORT_STORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_AVAILABLE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AVAILABLE](
	[GATE_ID] [nvarchar](50) NOT NULL,
	[FLIGHT_ID] [nvarchar](50) NOT NULL,
	[RESERVATION_STAR] [datetime] NOT NULL,
	[RESERVATION_FINISH] [datetime] NOT NULL,
	[STATUS] [bit] NOT NULL,
	[RESERVATION_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_AVAILABLE] PRIMARY KEY CLUSTERED 
(
	[RESERVATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CARD]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CARD](
	[ID_PERSON] [nvarchar](50) NOT NULL,
	[NUMBER] [nvarchar](50) NOT NULL,
	[CVC] [nvarchar](50) NOT NULL,
	[EXP_DATE] [nvarchar](50) NOT NULL,
	[BRAND] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_CARD] PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CATEGORY]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORY](
	[ID] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_FAQ]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FAQ](
	[ID] [nvarchar](50) NOT NULL,
	[QUESTION] [nvarchar](50) NOT NULL,
	[ANSWER] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_FLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FLIGHT](
	[ID] [nvarchar](50) NOT NULL,
	[AIRLINE_ID] [nvarchar](50) NOT NULL,
	[ORIGIN_AIRPORT_ID] [nvarchar](50) NOT NULL,
	[DESTINY_AIRPORT_ID] [nvarchar](50) NOT NULL,
	[DEPARTURE_TIME] [datetime] NOT NULL,
	[ARRIVAL_DATETIME] [datetime] NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[ID_AIRPLANE] [nvarchar](50) NOT NULL,
	[ID_GATE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_FLIGHT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GATE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GATE](
	[AIRPORT_ID] [nvarchar](50) NOT NULL,
	[GATE_ID] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[NUMBER] [int] NOT NULL,
 CONSTRAINT [PK_TBL_GATE] PRIMARY KEY CLUSTERED 
(
	[GATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_GENERAL_ADMIN]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GENERAL_ADMIN](
	[ID] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[ID_ROL] [nvarchar](50) NOT NULL,
	[ID_ASSIGNED] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HISTORY_LOG]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HISTORY_LOG](
	[ID_ACTION] [nvarchar](50) NOT NULL,
	[ID_AIRPORT] [nvarchar](50) NOT NULL,
	[ACTION] [nvarchar](50) NOT NULL,
	[DATE_ACTION] [datetime] NOT NULL,
	[ID_AIRLINE] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBL_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID_ACTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_IMAGE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_IMAGE](
	[ID] [nvarchar](50) NOT NULL,
	[ID_PERSON] [nvarchar](50) NULL,
	[ID_AIRPORT] [nvarchar](50) NULL,
	[ID_AIRLINE] [nvarchar](50) NULL,
	[IMAGE] [image] NOT NULL,
 CONSTRAINT [PK_TBL_IMAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_OFFERS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_OFFERS](
	[ID] [nvarchar](50) NOT NULL,
	[ID_FLIGHT] [nvarchar](50) NOT NULL,
	[DISCOUNT] [int] NOT NULL,
	[DATETIME_START] [datetime] NOT NULL,
	[DATETIME_FINISH] [datetime] NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_OFFERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PASSENGER]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PASSENGER](
	[ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_NAME] [nvarchar](50) NULL,
	[FIRTS_LAST_NAME] [nvarchar](50) NOT NULL,
	[SECOND_LAST_NAME] [nvarchar](50) NULL,
	[BIRTHDATE] [date] NOT NULL,
	[GENRE] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[CIVIL_STATUS] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ID_ROL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_PERSON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_REQUEST]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REQUEST](
	[ID] [nvarchar](50) NOT NULL,
	[ID_USERAIRPORT] [nvarchar](50) NULL,
	[ID_USERAIRLINE] [nvarchar](50) NULL,
	[ID_AIPORT] [nvarchar](50) NOT NULL,
	[ID_AIRLINE] [nvarchar](50) NOT NULL,
	[ID_USERRESPONSE] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_REQUEST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_REVIEW]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REVIEW](
	[ID] [nvarchar](50) NOT NULL,
	[ID_PERSON] [nvarchar](50) NOT NULL,
	[ID_AIRLINE] [nvarchar](50) NOT NULL,
	[STARS] [nvarchar](50) NOT NULL,
	[DATE] [date] NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_REVIEW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_STORE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STORE](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](50) NOT NULL,
	[MANAGER_NAME] [nvarchar](50) NOT NULL,
	[ID_CATEGORY] [nvarchar](50) NOT NULL,
	[RENT] [decimal](27, 0) NOT NULL,
	[ID_AIRPORT] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_STORE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TICKET]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TICKET](
	[ID] [nvarchar](50) NOT NULL,
	[ID_FLIGHT] [nvarchar](50) NOT NULL,
	[TICKET_CLASS] [nvarchar](50) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[PRICE] [decimal](18, 0) NOT NULL,
	[BUY_DATE] [datetime] NOT NULL,
	[ID_PERSON] [nvarchar](50) NOT NULL,
	[PERSON_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TBL_TICKET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TBL_GENERAL_ADMIN] ADD  DEFAULT ('0') FOR [ID_ASSIGNED]
GO
ALTER TABLE [dbo].[TBL_AIRLINE_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AIRLINE_ADMIN_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_AIRLINE_ADMIN] CHECK CONSTRAINT [FK_TBL_AIRLINE_ADMIN_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_AIRPLANE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AIRPLANE_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_AIRPLANE] CHECK CONSTRAINT [FK_TBL_AIRPLANE_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_AIRPORT_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AIRPORT_ADMIN_TBL_AIRPORT] FOREIGN KEY([ID_AIRPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_AIRPORT_ADMIN] CHECK CONSTRAINT [FK_TBL_AIRPORT_ADMIN_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_AIRPORT_STORE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AIRPORT_STORE_TBL_AIRPORT] FOREIGN KEY([ID_AIRPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_AIRPORT_STORE] CHECK CONSTRAINT [FK_TBL_AIRPORT_STORE_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AVAILABLE_TBL_FLIGHT] FOREIGN KEY([FLIGHT_ID])
REFERENCES [dbo].[TBL_FLIGHT] ([ID])
GO
ALTER TABLE [dbo].[TBL_AVAILABLE] CHECK CONSTRAINT [FK_TBL_AVAILABLE_TBL_FLIGHT]
GO
ALTER TABLE [dbo].[TBL_AVAILABLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_AVAILABLE_TBL_GATE] FOREIGN KEY([GATE_ID])
REFERENCES [dbo].[TBL_GATE] ([GATE_ID])
GO
ALTER TABLE [dbo].[TBL_AVAILABLE] CHECK CONSTRAINT [FK_TBL_AVAILABLE_TBL_GATE]
GO
ALTER TABLE [dbo].[TBL_CARD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CARD_TBL_PERSON] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_CARD] CHECK CONSTRAINT [FK_TBL_CARD_TBL_PERSON]
GO
ALTER TABLE [dbo].[TBL_FLIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FLIGHT_TBL_AIRLINE] FOREIGN KEY([AIRLINE_ID])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_FLIGHT] CHECK CONSTRAINT [FK_TBL_FLIGHT_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_FLIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FLIGHT_TBL_AIRPLANE] FOREIGN KEY([ID_AIRPLANE])
REFERENCES [dbo].[TBL_AIRPLANE] ([ID])
GO
ALTER TABLE [dbo].[TBL_FLIGHT] CHECK CONSTRAINT [FK_TBL_FLIGHT_TBL_AIRPLANE]
GO
ALTER TABLE [dbo].[TBL_FLIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FLIGHT_TBL_DESTINY_AIRPORT] FOREIGN KEY([DESTINY_AIRPORT_ID])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_FLIGHT] CHECK CONSTRAINT [FK_TBL_FLIGHT_TBL_DESTINY_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_FLIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FLIGHT_TBL_GATE] FOREIGN KEY([ID_GATE])
REFERENCES [dbo].[TBL_GATE] ([GATE_ID])
GO
ALTER TABLE [dbo].[TBL_FLIGHT] CHECK CONSTRAINT [FK_TBL_FLIGHT_TBL_GATE]
GO
ALTER TABLE [dbo].[TBL_FLIGHT]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FLIGHT_TBL_ORIGIN_AIRPORT] FOREIGN KEY([ORIGIN_AIRPORT_ID])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_FLIGHT] CHECK CONSTRAINT [FK_TBL_FLIGHT_TBL_ORIGIN_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_GATE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_GATE_TBL_AIRPORT] FOREIGN KEY([AIRPORT_ID])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_GATE] CHECK CONSTRAINT [FK_TBL_GATE_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_HISTORY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HISTORY_LOG_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_HISTORY_LOG] CHECK CONSTRAINT [FK_TBL_HISTORY_LOG_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_HISTORY_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HISTORY_LOG_TBL_AIRPORT] FOREIGN KEY([ID_AIRPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_HISTORY_LOG] CHECK CONSTRAINT [FK_TBL_HISTORY_LOG_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_IMAGE_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_IMAGE] CHECK CONSTRAINT [FK_TBL_IMAGE_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_IMAGE_TBL_AIRPORT] FOREIGN KEY([ID_AIRPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_IMAGE] CHECK CONSTRAINT [FK_TBL_IMAGE_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_IMAGE_TBL_PERSON] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_IMAGE] CHECK CONSTRAINT [FK_TBL_IMAGE_TBL_PERSON]
GO
ALTER TABLE [dbo].[TBL_OFFERS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_OFFERS_TBL_FLIGHT] FOREIGN KEY([ID_FLIGHT])
REFERENCES [dbo].[TBL_FLIGHT] ([ID])
GO
ALTER TABLE [dbo].[TBL_OFFERS] CHECK CONSTRAINT [FK_TBL_OFFERS_TBL_FLIGHT]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_TBL_AIRPORT] FOREIGN KEY([ID_AIPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON] FOREIGN KEY([ID_USERAIRPORT])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON1] FOREIGN KEY([ID_USERAIRLINE])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON1]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON2] FOREIGN KEY([ID_USERRESPONSE])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_TBL_PERSON2]
GO
ALTER TABLE [dbo].[TBL_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REVIEW_TBL_AIRLINE] FOREIGN KEY([ID_AIRLINE])
REFERENCES [dbo].[TBL_AIRLINE] ([ID])
GO
ALTER TABLE [dbo].[TBL_REVIEW] CHECK CONSTRAINT [FK_TBL_REVIEW_TBL_AIRLINE]
GO
ALTER TABLE [dbo].[TBL_REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REVIEW_TBL_PERSON] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_REVIEW] CHECK CONSTRAINT [FK_TBL_REVIEW_TBL_PERSON]
GO
ALTER TABLE [dbo].[TBL_STORE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_STORE_TBL_AIRPORT] FOREIGN KEY([ID_AIRPORT])
REFERENCES [dbo].[TBL_AIRPORT] ([ID])
GO
ALTER TABLE [dbo].[TBL_STORE] CHECK CONSTRAINT [FK_TBL_STORE_TBL_AIRPORT]
GO
ALTER TABLE [dbo].[TBL_STORE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_STORE_TBL_CATEGORY] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[TBL_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[TBL_STORE] CHECK CONSTRAINT [FK_TBL_STORE_TBL_CATEGORY]
GO
ALTER TABLE [dbo].[TBL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TICKET_TBL_FLIGHT] FOREIGN KEY([ID_FLIGHT])
REFERENCES [dbo].[TBL_FLIGHT] ([ID])
GO
ALTER TABLE [dbo].[TBL_TICKET] CHECK CONSTRAINT [FK_TBL_TICKET_TBL_FLIGHT]
GO
ALTER TABLE [dbo].[TBL_TICKET]  WITH CHECK ADD  CONSTRAINT [FK_TBL_TICKET_TBL_PERSON] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[TBL_PASSENGER] ([ID])
GO
ALTER TABLE [dbo].[TBL_TICKET] CHECK CONSTRAINT [FK_TBL_TICKET_TBL_PERSON]
GO
/****** Object:  StoredProcedure [dbo].[CRE_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_AIRPORT_PR]
@Id nvarchar(50),
@Name  nvarchar(50),
@Address  nvarchar(50),
@Phone  nvarchar(50),
@ZipCode  nvarchar(50),
@Gate_Tariff  decimal(27,2),
@Runway_Tariff decimal(27,2),
@Tax decimal(27,2),
@Status  bit,
@Latitude nvarchar(50),
@Longitude nvarchar(50)

AS
INSERT INTO TBL_AIRPORT (ID, NAME, ADDRESS, PHONE,  ZIPCODE, GATE_TARIFF, RUNWAY_TARIFF, TAX, STATUS, ASIGNED, LATITUDE, LONGITUDE)
VALUES (@Id,@Name,@Address, @Phone, @ZipCode, @Gate_Tariff, 
@Runway_Tariff, @Tax, @Status, 0, @Latitude, @Longitude )



GO
/****** Object:  StoredProcedure [dbo].[CRE_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CRE_CATEGORY_PR]
	@Id nvarchar(50),
	@Description nvarchar(50),
	@Status bit
	AS
	INSERT INTO TBL_CATEGORY(ID, DESCRIPTION, STATUS)
	VALUES(@Id, @Description, @Status)


GO
/****** Object:  StoredProcedure [dbo].[CRE_EXCEPTION]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_EXCEPTION]
	@date smalldatetime,
	@message varchar(500)
as
INSERT INTO Exceptions(date,message) VALUES(@date,@message)



GO
/****** Object:  StoredProcedure [dbo].[CRE_GATE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_GATE_PR]
@GATE_ID nvarchar(50),
@ID_AIRPORT nvarchar (50),
@Status bit,
@NUMBER int
AS
INSERT INTO TBL_GATE(GATE_ID, AIRPORT_ID, STATUS, NUMBER)
VALUES (@GATE_ID, @ID_AIRPORT,  @Status, @NUMBER)



GO
/****** Object:  StoredProcedure [dbo].[CRE_STORE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_STORE_PR]
@Id nvarchar(50),
@Name nvarchar(50),
@Manager_Name nvarchar (50),
@Phone nvarchar (50),
@Id_Category nvarchar (50),
@Id_Airport nvarchar (50),
@Rent decimal(27,2),
@Status bit

AS
INSERT INTO TBL_STORE (ID, NAME, MANAGER_NAME, PHONE, ID_CATEGORY, ID_AIRPORT, RENT, STATUS)
VALUES (@Id, @Name, @Manager_Name, @Phone, @Id_Category, @Id_Airport, @Rent, @Status)



GO
/****** Object:  StoredProcedure [dbo].[DEL_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DEL_AIRPORT_PR]
@Id nvarchar(50)
AS
DELETE FROM TBL_AIRPORT WHERE ID = @Id



GO
/****** Object:  StoredProcedure [dbo].[DEL_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DEL_CATEGORY_PR]
	@Id VARCHAR(50)
	AS
	DELETE FROM TBL_CATEGORY WHERE ID=@Id
	


GO
/****** Object:  StoredProcedure [dbo].[DEL_GATE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[DEL_GATE_PR]
@GATE_ID nvarchar (50)
AS
DELETE FROM TBL_GATE WHERE GATE_ID = @GATE_ID


GO
/****** Object:  StoredProcedure [dbo].[DEL_STORE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[DEL_STORE_PR]
@Id nvarchar(50)
AS
DELETE FROM TBL_STORE WHERE ID = @Id


GO
/****** Object:  StoredProcedure [dbo].[INSERT_AIRPORT_AIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_AIRPORT_AIRLINE]
@IDAIRLINE nvarchar(50),
@IDAIRPORT nvarchar(50)
AS
INSERT INTO TBL_AIRLINE_X_AIRPORT(AIRLINE_ID, AIRPORT_ID, REQUEST)
VALUES(@IDAIRLINE, @IDAIRPORT, 'waiting')

GO
/****** Object:  StoredProcedure [dbo].[RET_ACCEPTED_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ACCEPTED_AIRLINES]
AS
SELECT * FROM TBL_AIRLINE WHERE REQUEST = 'accepted'



GO
/****** Object:  StoredProcedure [dbo].[RET_ADMINAIRLINE_BY_AIRLINE_ID]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RET_ADMINAIRLINE_BY_AIRLINE_ID]
@ID nvarchar(50)
AS
SELECT * FROM TBL_AIRLINE_ADMIN WHERE ID_AIRLINE = @ID

GO
/****** Object:  StoredProcedure [dbo].[RET_ADMINAIRPORT_BY_AIRPORT_ID]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RET_ADMINAIRPORT_BY_AIRPORT_ID]
@ID nvarchar(50)
AS
SELECT * FROM TBL_AIRPORT_ADMIN WHERE ID = @ID

GO
/****** Object:  StoredProcedure [dbo].[RET_AIRPORT_GATES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AIRPORT_GATES]
@ID_AIRPORT nvarchar(50)
AS
SELECT * FROM TBL_GATE WHERE AIRPORT_ID = @ID_AIRPORT


GO
/****** Object:  StoredProcedure [dbo].[RET_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_AIRPORT_PR]
@Id nvarchar(50)
AS
SELECT * FROM TBL_AIRPORT WHERE ID = @Id



GO
/****** Object:  StoredProcedure [dbo].[RET_AIRPORT_STORES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AIRPORT_STORES]
@ID_AIRPORT nvarchar(50)
AS
SELECT * FROM TBL_STORE WHERE ID_AIRPORT = @ID_AIRPORT


GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_ALL_AIRPORT_PR]
AS
SELECT * FROM TBL_AIRPORT 



GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_ALL_CATEGORY_PR]
	AS
	SELECT * FROM TBL_CATEGORY;
	RETURN 0
	


GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_EXCEPTIONS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_EXCEPTIONS]
as
SELECT *
FROM Messages



GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_GATES_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RET_ALL_GATES_PR]
AS
SELECT * FROM TBL_GATE
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_STORE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[RET_ALL_STORE_PR]
AS
SELECT * FROM TBL_STORE


GO
/****** Object:  StoredProcedure [dbo].[RET_ASSOCIATED_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ASSOCIATED_AIRLINES] 
@AIRPORT_ID nvarchar(50)
as

SELECT * FROM TBL_AIRLINE
WHERE ID in (


SELECT TBL_AIRLINE_X_AIRPORT.AIRLINE_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = @AIRPORT_ID and TBL_AIRLINE_X_AIRPORT.REQUEST='accepted'
)



GO
/****** Object:  StoredProcedure [dbo].[RET_ASSOCIATED_AIRPORTS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ASSOCIATED_AIRPORTS] 
@AIRLINE_ID nvarchar(50)
as

SELECT * FROM TBL_AIRPORT
WHERE  STATUS=1 and ID  in (

SELECT TBL_AIRLINE_X_AIRPORT.AIRPORT_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRLINE_ID =  @AIRLINE_ID
and TBL_AIRLINE_X_AIRPORT.REQUEST = 'accepted'
) 

GO
/****** Object:  StoredProcedure [dbo].[RET_AVAILABLE_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AVAILABLE_AIRLINES]
AS
SELECT * FROM TBL_AIRLINE WHERE STATUS = 1



GO
/****** Object:  StoredProcedure [dbo].[RET_AVAILABLE_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AVAILABLE_AIRPORT_PR]
AS
SELECT * FROM TBL_AIRPORT WHERE STATUS = 1



GO
/****** Object:  StoredProcedure [dbo].[RET_AVAILABLE_ARPT_GATES_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AVAILABLE_ARPT_GATES_PR]
@ID_AIRPORT nvarchar(50)
AS
SELECT * FROM TBL_GATE WHERE AIRPORT_ID = @ID_AIRPORT and STATUS = 1



GO
/****** Object:  StoredProcedure [dbo].[RET_AVAILABLE_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AVAILABLE_CATEGORY_PR]
AS
SELECT * FROM TBL_CATEGORY WHERE STATUS = 1



GO
/****** Object:  StoredProcedure [dbo].[RET_AVAILABLE_FAQS_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_AVAILABLE_FAQS_PR]
AS
SELECT * FROM TBL_FAQ WHERE STATUS = 1



GO
/****** Object:  StoredProcedure [dbo].[RET_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_CATEGORY_PR]
	@ID nvarchar(50)
AS
SELECT * FROM TBL_CATEGORY WHERE ID=@ID;





GO
/****** Object:  StoredProcedure [dbo].[RET_GATE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[RET_GATE_PR]
@GATE_ID nvarchar (50)
AS
SELECT * FROM TBL_GATE WHERE GATE_ID = @GATE_ID


GO
/****** Object:  StoredProcedure [dbo].[RET_NON_ASSOCIATED_AIRPORTS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_NON_ASSOCIATED_AIRPORTS] 
@AIRLINE_ID nvarchar(50)
as

SELECT * FROM TBL_AIRPORT
WHERE STATUS=1 and ID not in (

SELECT TBL_AIRLINE_X_AIRPORT.AIRPORT_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRLINE_ID =  @AIRLINE_ID 

)

GO
/****** Object:  StoredProcedure [dbo].[RET_POSSIBLE_DESTINY_AIRPORT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_POSSIBLE_DESTINY_AIRPORT] 
@AIRPORT_ID nvarchar(50),
@AIRLINE_ID nvarchar(50)
as
SELECT * FROM TBL_AIRPORT
WHERE STATUS=1 and ID not in (

SELECT TBL_AIRLINE_X_AIRPORT.AIRPORT_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = @AIRPORT_ID

) and ID in(

SELECT TBL_AIRLINE_X_AIRPORT.AIRPORT_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE  TBL_AIRLINE_X_AIRPORT.REQUEST = 'accepted'
) and ID in (

SELECT TBL_AIRLINE_X_AIRPORT.AIRPORT_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = @AIRLINE_ID
)


GO
/****** Object:  StoredProcedure [dbo].[RET_REJECTED_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_REJECTED_AIRLINES]
AS
SELECT * FROM TBL_AIRLINE WHERE REQUEST = 'rejected'



GO
/****** Object:  StoredProcedure [dbo].[RET_REJECTED_AIRLINES_AIRPORTS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_REJECTED_AIRLINES_AIRPORTS]
@AIRPORT_ID nvarchar(50)
as

SELECT * FROM TBL_AIRLINE
WHERE ID in (


SELECT TBL_AIRLINE_X_AIRPORT.AIRLINE_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = @AIRPORT_ID and TBL_AIRLINE_X_AIRPORT.REQUEST='rejected'
)



GO
/****** Object:  StoredProcedure [dbo].[RET_STORE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[RET_STORE_PR]
@Id nvarchar(50)
AS
SELECT * FROM TBL_STORE WHERE ID = @Id


GO
/****** Object:  StoredProcedure [dbo].[RET_UNAVAILABLE_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_UNAVAILABLE_AIRLINES]
AS
SELECT * FROM TBL_AIRLINE WHERE STATUS = 0



GO
/****** Object:  StoredProcedure [dbo].[RET_UNAVAILABLE_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_UNAVAILABLE_AIRPORT_PR]
AS
SELECT * FROM TBL_AIRPORT WHERE STATUS = 0



GO
/****** Object:  StoredProcedure [dbo].[RET_UNAVAILABLE_ARPT_GATES_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_UNAVAILABLE_ARPT_GATES_PR]
@ID_AIRPORT nvarchar(50)
AS
SELECT * FROM TBL_GATE WHERE AIRPORT_ID = @ID_AIRPORT and STATUS = 0



GO
/****** Object:  StoredProcedure [dbo].[RET_UNAVAILABLE_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_UNAVAILABLE_CATEGORY_PR]
AS
SELECT * FROM TBL_CATEGORY WHERE STATUS = 0



GO
/****** Object:  StoredProcedure [dbo].[RET_UNAVAILABLE_FAQS_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_UNAVAILABLE_FAQS_PR]
AS
SELECT * FROM TBL_FAQ WHERE STATUS = 0



GO
/****** Object:  StoredProcedure [dbo].[RET_WAITING_AIRLINES]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_WAITING_AIRLINES]
AS
SELECT ID, COMERCIAL_NAME, BUSINESS_NAME, CONVERT (date, CREATION_YEAR) AS CREATION_YEAR, DESCRIPTION, EMAIL, STATUS, REQUEST 
FROM TBL_AIRLINE 
WHERE REQUEST = 'waiting'

GO
/****** Object:  StoredProcedure [dbo].[RET_WAITING_AIRLINES_AIRPORT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_WAITING_AIRLINES_AIRPORT]
@AIRPORT_ID nvarchar(50)
as

SELECT * FROM TBL_AIRLINE
WHERE ID in (


SELECT TBL_AIRLINE_X_AIRPORT.AIRLINE_ID FROM TBL_AIRLINE_X_AIRPORT
LEFT JOIN TBL_AIRLINE ON TBL_AIRLINE_X_AIRPORT.AIRLINE_ID = AIRLINE_ID
LEFT JOIN TBL_AIRPORT ON TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = AIRPORT_ID
WHERE TBL_AIRLINE_X_AIRPORT.AIRPORT_ID = @AIRPORT_ID and TBL_AIRLINE_X_AIRPORT.REQUEST='waiting'
)


GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_TICKET]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATE_TICKET]
@Id nvarchar(50),
@Id_Flight nvarchar (50),
@Ticket_Class nvarchar (50),
@Status nvarchar(50),
@Price decimal,
@Buy_Date date,
@Id_Person nvarchar(50),
@Person_Name nvarchar(50)
AS
INSERT INTO TBL_TICKET(ID, ID_FLIGHT, TICKET_CLASS, STATUS, PRICE, BUY_DATE, ID_PERSON, PERSON_NAME)
VALUES (@Id, @Id_Flight,  @Ticket_Class, @Status, @Price, @Buy_Date, @Id_Person, @Person_Name)


GO
/****** Object:  StoredProcedure [dbo].[SP_CREATEAIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CREATEAIRLINE] @ID nvarchar(50), @COMERCIAL_NAME nvarchar(50), 
@BUSINESS_NAME nvarchar(50),@CREATION_YEAR datetime, @DESCRIPTION nvarchar(50), @EMAIL nvarchar(50),
@STATUS bit, @REQUEST nvarchar(50)
AS

insert into [dbo].[TBL_AIRLINE] ([ID],[COMERCIAL_NAME],[BUSINESS_NAME],[CREATION_YEAR],[DESCRIPTION],
[EMAIL],[STATUS], [REQUEST]) values (@ID, @COMERCIAL_NAME, @BUSINESS_NAME, @CREATION_YEAR, @DESCRIPTION, @EMAIL,
@STATUS, @REQUEST)



GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAirlineManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--los gets hay que cambiarlos, ya que se necesita el nombre de la aerolinea para listarlos, por lo que hay qye hacer un select con 
--innner join


--INSERT EN  
--l -> listar esos datos
CREATE PROCEDURE [dbo].[sp_CreateAirlineManager]
	@ID nvarchar(25),
	@FIRST_NAME nvarchar(25),--l
	@SECOND_NAME nvarchar(25),--l
	@FIRST_LAST_NAME nvarchar(25),--l
	@SECOND_LAST_NAME nvarchar(25),
	@BIRTHDATE date,
	@GENRE nvarchar(25),
	@EMAIL nvarchar(25),--l
	@PASSWORD nvarchar(25),
	@PHONE nvarchar(25),--l
	@CIVIL_STATUS nvarchar(25),
	@STATUS bit,
	@ID_ROL nvarchar(25),
	@ID_AIRLINE nvarchar(25)
AS
	INSERT INTO [dbo].[TBL_AIRLINE_ADMIN] VALUES(@ID,@FIRST_NAME,@SECOND_NAME,@FIRST_LAST_NAME,@SECOND_LAST_NAME,@BIRTHDATE,@GENRE,@EMAIL,@PASSWORD,@PHONE,@CIVIL_STATUS,@STATUS,@ID_ROL,@ID_AIRLINE);



GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAirportManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--INSERT EN  CUSTOMERS
--l -> listar esos datos
--quitarle la p a los parametros y cambiar nombre de sp
CREATE PROCEDURE [dbo].[sp_CreateAirportManager]
	@ID nvarchar(25),
	@FIRST_NAME nvarchar(25),--l
	@SECOND_NAME nvarchar(25),--l
	@FIRST_LAST_NAME nvarchar(25),--l
	@SECOND_LAST_NAME nvarchar(25),
	@BIRTHDATE date,
	@GENRE nvarchar(25),
	@EMAIL nvarchar(25),--l
	@PASSWORD nvarchar(25),
	@PHONE nvarchar(25),--l
	@CIVIL_STATUS nvarchar(25),
	@STATUS bit,
	@ID_ROL nvarchar(25),
	@ID_AIRPORT nvarchar(25)
AS
	INSERT INTO [dbo].[TBL_AIRPORT_ADMIN] VALUES(@ID,@FIRST_NAME,@SECOND_NAME,@FIRST_LAST_NAME,@SECOND_LAST_NAME,@BIRTHDATE,@GENRE,@EMAIL,@PASSWORD,@PHONE,@CIVIL_STATUS,@STATUS,@ID_ROL,@ID_AIRPORT);


GO
/****** Object:  StoredProcedure [dbo].[sp_CreateFAQ]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Josue Brenes
-- Description: Will create a new user FAQ.
-- =============================================
CREATE PROCEDURE [dbo].[sp_CreateFAQ]
@ID varchar(50),
@QUESTION varchar(50),
@ANSWER varchar(50)
AS
BEGIN
SET NOCOUNT ON;
INSERT INTO TBL_FAQ(ID, QUESTION, ANSWER, STATUS) values (@ID, @QUESTION, @ANSWER, 1)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CREATEFLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREATEFLIGHT]
	@Id nvarchar(50),
	@Airline_id nvarchar(50),
	@Origin_Airport_id nvarchar(50),
	@Destiny_Airport_id nvarchar(50),
	@departure_time date,
	@arrival_datetime date,
	@Status nvarchar(50),
	@id_airplane nvarchar(50),
	@id_gate nvarchar(50)
	AS
	INSERT INTO TBL_FLIGHT(ID, AIRLINE_ID, ORIGIN_AIRPORT_ID, DESTINY_AIRPORT_ID, DEPARTURE_TIME, ARRIVAL_DATETIME, STATUS, ID_AIRPLANE, ID_GATE)
	VALUES(@Id, @Airline_id, @Origin_Airport_id, @Destiny_Airport_id, @departure_time, @arrival_datetime, @Status, @id_airplane, @id_gate )


GO
/****** Object:  StoredProcedure [dbo].[SP_CREATETICKET]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CREATETICKET]
	@Id nvarchar(50),
	@Id_Flight nvarchar(50),
	@Ticket_Class nvarchar(50),
	@Status nvarchar(50),
	@Price decimal,
	@Buy_Date date,
	@Id_Person nvarchar(50)
	AS
	INSERT INTO TBL_TICKET(ID, ID_FLIGHT, TICKET_CLASS, STATUS, PRICE, BUY_DATE, ID_PERSON)
	VALUES(@Id, @Id_Flight, @Ticket_Class, @Status, @Price, @Buy_Date, @Id_Person)


GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUserHistory]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUserHistory]
@ID_ACTION varchar(50),
@ID_AIRPORT varchar(50),
@ACTION varchar(50),
@DATE_ACTION datetime,
@ID_AIRLINE varchar(50) = null
AS
BEGIN
SET NOCOUNT ON;
INSERT INTO TBL_HISTORY_LOG(ID_ACTION, ID_AIRPORT, ID_AIRLINE, ACTION,
DATE_ACTION) values (@ID_ACTION, @ID_AIRPORT, @ID_AIRLINE, @ACTION, @DATE_ACTION)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEAIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[SP_DELETEAIRLINE]
@ID nvarchar(50)

AS
begin

delete from [dbo].[TBL_AIRLINE] where ID = @ID

end


GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAirlineManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE PERSON
CREATE PROCEDURE [dbo].[sp_DeleteAirlineManager]
	@ID nvarchar(25)
AS
	DELETE FROM TBL_AIRLINE_ADMIN WHERE ID=@ID;
RETURN 0;


GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAirportManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DELETE PERSON
CREATE PROCEDURE [dbo].[sp_DeleteAirportManager]
	@ID nvarchar(25)
AS
	DELETE FROM TBL_AIRPORT_ADMIN WHERE ID=@ID;
RETURN 0;


GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFAQById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteFAQById]
@ID varchar(50)
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
-- Insert statements for procedure here
DELETE FROM TBL_FAQ
WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUserHistoryById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Cesar Lopez
-- Description:	Will take care of deleting the action
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteUserHistoryById]
	@ID_ACTION varchar(50)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM TBL_HISTORY_LOG 
	WHERE ID_ACTION = @ID_ACTION
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GETAIRLINEBYID]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GETAIRLINEBYID]
@ID nvarchar(50)
AS    
   
    SELECT *
    FROM TBL_AIRLINE
    WHERE ID = @ID;  




GO
/****** Object:  StoredProcedure [dbo].[sp_GetAirlineManagerById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET PERSON BY ID
CREATE PROCEDURE [dbo].[sp_GetAirlineManagerById]
	@ID nvarchar(25)
AS
	SELECT ID, FIRST_NAME, SECOND_NAME, FIRST_LAST_NAME, SECOND_LAST_NAME, BIRTHDATE, GENRE, EMAIL, PASSWORD, PHONE, CIVIL_STATUS, STATUS, ID_ROL, ID_AIRLINE FROM TBL_AIRLINE_ADMIN WHERE ID=@ID;
RETURN 0;


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAirlineManagers]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL AIRLINE MANAGERS
CREATE PROCEDURE [dbo].[sp_GetAirlineManagers]
AS
	SELECT ID, FIRST_NAME, SECOND_NAME, FIRST_LAST_NAME, SECOND_LAST_NAME, BIRTHDATE, GENRE, EMAIL, PASSWORD, PHONE, CIVIL_STATUS, STATUS, ID_ROL, ID_AIRLINE FROM TBL_AIRLINE_ADMIN;
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAirportManagerById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET PERSON BY ID
CREATE PROCEDURE [dbo].[sp_GetAirportManagerById]
	@ID nvarchar(25)
AS
	SELECT ID, FIRST_NAME, SECOND_NAME, FIRST_LAST_NAME, SECOND_LAST_NAME, BIRTHDATE, GENRE, EMAIL, PASSWORD, PHONE, CIVIL_STATUS, STATUS, ID_ROL, ID_AIRPORT FROM TBL_AIRPORT_ADMIN WHERE ID=@ID;
RETURN 0;


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAirportManagers]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RETRIEVE ALL AIRPORT MANAGERS
CREATE PROCEDURE [dbo].[sp_GetAirportManagers]
AS
	SELECT ID, FIRST_NAME, SECOND_NAME, FIRST_LAST_NAME, SECOND_LAST_NAME, BIRTHDATE, GENRE, EMAIL, PASSWORD, PHONE, CIVIL_STATUS, STATUS, ID_ROL, ID_AIRPORT FROM TBL_AIRPORT_ADMIN;
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFAQS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllFAQS]
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
-- Insert statements for procedure here
SELECT * FROM
TBL_FAQ;
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUserHistories]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUserHistories]
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_ACTION, ID_AIRPORT, ACTION, DATE_ACTION, ID_AIRLINE  FROM TBL_HISTORY_LOG;
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetFAQById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFAQById]
@ID varchar(50)

AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;
-- Insert statements for procedure here
SELECT ID, QUESTION, ANSWER FROM
TBL_FAQ
WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetRespectiveAirlineManagers]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RET ALL MANAGERS
CREATE PROCEDURE [dbo].[sp_GetRespectiveAirlineManagers]
--este id es el id del aeropuerto del admin de aeropuerto loggeado, para listar los admins de aerolineas correspondientes
@ID_AIRPORT nvarchar(25)
AS
	SELECT ID, FIRST_NAME, SECOND_NAME, FIRST_LAST_NAME, SECOND_LAST_NAME, BIRTHDATE, GENRE, EMAIL, PASSWORD, PHONE, CIVIL_STATUS, STATUS, ID_ROL, ID_AIRLINE FROM TBL_AIRLINE_ADMIN WHERE ID_AIRLINE IN (SELECT AIRLINE_ID FROM TBL_AIRLINE_X_AIRPORT WHERE AIRPORT_ID = @ID_AIRPORT)
RETURN 0;


GO
/****** Object:  StoredProcedure [dbo].[SP_GETTICKETBYID]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETTICKETBYID]
	@Id nvarchar(50),
@Person_Name nvarchar(50)
	AS
	select * from TBL_TICKET  WHERE ID = @Id


GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUserNameAndPassword]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserByUserNameAndPassword]
	-- Add the parameters for the stored procedure here
	@EMAIL varchar(50),
	@PASSWORD varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID, FIRST_NAME AS NAME, FIRST_LAST_NAME AS LAST_NAME, EMAIL, PASSWORD, ID_AIRLINE AS ID_ASSIGNED, ID_ROL = 3 FROM TBL_AIRLINE_ADMIN WHERE EMAIL = @EMAIL AND PASSWORD = @PASSWORD
	UNION ALL
	SELECT ID, FIRST_NAME AS NAME, FIRST_LAST_NAME AS LAST_NAME, EMAIL, PASSWORD, ID_AIRPORT AS ID_ASSIGNED, ID_ROL = 2 FROM TBL_AIRPORT_ADMIN WHERE EMAIL = @EMAIL AND PASSWORD = @PASSWORD
	UNION ALL
	SELECT ID, NULL AS NAME, NULL AS LAST_NAME, EMAIL, PASSWORD, NULL AS ID_ASSIGNED, ID_ROL = 1 FROM TBL_GENERAL_ADMIN WHERE EMAIL = @EMAIL AND PASSWORD = @PASSWORD	

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserHistoryByAirportId]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserHistoryByAirportId]
	@ID_AIRPORT varchar(50)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_ACTION, ID_AIRPORT, ACTION, DATE_ACTION, ID_AIRLINE  FROM TBL_HISTORY_LOG 
	WHERE ID_AIRPORT = @ID_AIRPORT

END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserHistoryById]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserHistoryById]
	@ID_ACTION varchar(50)	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_ACTION, ID_AIRPORT, ACTION, DATE_ACTION, ID_AIRLINE  FROM TBL_HISTORY_LOG 
	WHERE ID_ACTION = @ID_ACTION

END


GO
/****** Object:  StoredProcedure [dbo].[SP_GETUSERS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GETUSERS]
AS
SELECT ID, EMAIL, PASSWORD, ID_ROL, ID_ASSIGNED AS ID_ASSIGNED FROM TBL_GENERAL_ADMIN
UNION
SELECT ID, EMAIL, PASSWORD, ID_ROL, ID_AIRPORT AS ID_ASSIGNED FROM TBL_AIRPORT_ADMIN
UNION
SELECT ID, EMAIL, PASSWORD, ID_ROL, ID_AIRLINE AS ID_ASSIGNED FROM TBL_AIRLINE_ADMIN;
RETURN 0;



GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_CANCELED_FLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIST_CANCELED_FLIGHT]
	@Status nvarchar(50)
AS
SELECT * FROM TBL_FLIGHT WHERE  STATUS = 'cancelado'



GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_DELAY_FLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LIST_DELAY_FLIGHT]
	@Status nvarchar(50)
AS
SELECT * FROM TBL_FLIGHT WHERE  STATUS = 'retrasado'



GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_FLIGHTS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SP_LIST_FLIGHTS]
AS
SELECT * FROM TBL_FLIGHT 



GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_ONTIME_FLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LIST_ONTIME_FLIGHT]	
AS
SELECT * FROM TBL_FLIGHT  where STATUS = 'a tiempo'


GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_TICKETS]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_LIST_TICKETS]
as
Select * from TBL_TICKET


GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAIRLINE]
AS    
 
   SELECT ID, COMERCIAL_NAME, BUSINESS_NAME, CONVERT (date, CREATION_YEAR) AS CREATION_YEAR, DESCRIPTION, EMAIL, STATUS, REQUEST
   FROM [dbo].[TBL_AIRLINE]

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TICKET_NAME]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_TICKET_NAME]
	@Id nvarchar(50),
@Person_Name nvarchar(50)
	AS
	UPDATE  TBL_TICKET SET PERSON_NAME = @Person_Name WHERE ID = @Id


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEAIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_UPDATEAIRLINE]
@ID nvarchar(50),
@COMERCIAL_NAME nvarchar(50), 
@BUSINESS_NAME nvarchar(50),
@CREATION_YEAR datetime, @DESCRIPTION nvarchar(50),
@EMAIL nvarchar(50),
@STATUS bit,
@REQUEST nvarchar(50)

AS

UPDATE [dbo].[TBL_AIRLINE]
SET COMERCIAL_NAME = @COMERCIAL_NAME, BUSINESS_NAME = @BUSINESS_NAME, 
CREATION_YEAR = @CREATION_YEAR, DESCRIPTION = @DESCRIPTION, EMAIL = @EMAIL, 
STATUS = @STATUS, REQUEST = @REQUEST

WHERE ID = @ID;



GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAirlineManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE AIRLINE_MANAGER
CREATE PROCEDURE [dbo].[sp_UpdateAirlineManager]
	@ID nvarchar(25),
	@FIRST_NAME nvarchar(25),
	@SECOND_NAME nvarchar(25),
	@FIRST_LAST_NAME nvarchar(25),
	@SECOND_LAST_NAME nvarchar(25),
	@BIRTHDATE date,
	@GENRE nvarchar(25),
	@EMAIL nvarchar(25),
	@PASSWORD nvarchar(25),	
	@PHONE nvarchar(25),
	@CIVIL_STATUS nvarchar(25),
	@STATUS bit,
	@ID_ROL nvarchar(25),
	@ID_AIRLINE nvarchar(25)
AS
	UPDATE [dbo].[TBL_AIRLINE_ADMIN] SET FIRST_NAME=@FIRST_NAME,SECOND_NAME=@SECOND_NAME,FIRST_LAST_NAME=@FIRST_LAST_NAME,SECOND_LAST_NAME=@SECOND_LAST_NAME,BIRTHDATE=@BIRTHDATE,GENRE=@GENRE,EMAIL=@EMAIL,PASSWORD=@PASSWORD,PHONE=@PHONE,CIVIL_STATUS=@CIVIL_STATUS,STATUS=@STATUS,ID_ROL=@ID_ROL,ID_AIRLINE=@ID_AIRLINE  WHERE ID=@ID;


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAirportManager]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--UPDATE AIRPORT_MANAGER
CREATE PROCEDURE [dbo].[sp_UpdateAirportManager]
	@ID nvarchar(25),
	@FIRST_NAME nvarchar(25),
	@SECOND_NAME nvarchar(25),
	@FIRST_LAST_NAME nvarchar(25),
	@SECOND_LAST_NAME nvarchar(25),
	@BIRTHDATE date,
	@GENRE nvarchar(25),
	@EMAIL nvarchar(25),
	@PASSWORD nvarchar(25),	
	@PHONE nvarchar(25),
	@CIVIL_STATUS nvarchar(25),
	@STATUS bit,
	@ID_ROL nvarchar(25),
	@ID_AIRPORT nvarchar(25)
AS
	UPDATE [dbo].[TBL_AIRPORT_ADMIN] SET FIRST_NAME=@FIRST_NAME,SECOND_NAME=@SECOND_NAME,FIRST_LAST_NAME=@FIRST_LAST_NAME,SECOND_LAST_NAME=@SECOND_LAST_NAME,BIRTHDATE=@BIRTHDATE,GENRE=@GENRE,EMAIL=@EMAIL,PASSWORD=@PASSWORD,PHONE=@PHONE,CIVIL_STATUS=@CIVIL_STATUS,STATUS=@STATUS,ID_ROL=@ID_ROL,ID_AIRPORT=@ID_AIRPORT  WHERE ID=@ID;


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFAQ]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateFAQ]
@ID varchar(50),
@QUESTION varchar(50),
@ANSWER varchar(50),
@STATUS bit
AS
BEGIN
SET NOCOUNT ON;
UPDATE TBL_FAQ SET ID = @ID, QUESTION = @QUESTION,
ANSWER = @ANSWER, STATUS = @STATUS WHERE ID = @ID;
END




GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEFLIGHT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATEFLIGHT]
	@Id nvarchar(50),
	@Status nvarchar(50)
	AS
	UPDATE  TBL_FLIGHT SET STATUS = @Status WHERE ID = @Id


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEPSWDADMINAIRLINE]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATEPSWDADMINAIRLINE]
@ID nvarchar(50),
@PASSWORD  nvarchar(50)

AS
BEGIN
SET NOCOUNT ON;

UPDATE TBL_AIRLINE_ADMIN SET PASSWORD = @PASSWORD WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEPSWDADMINAIRPORT]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATEPSWDADMINAIRPORT]
@ID nvarchar(50),
@PASSWORD  nvarchar(50)

AS
BEGIN
SET NOCOUNT ON;

UPDATE TBL_AIRPORT_ADMIN SET PASSWORD = @PASSWORD WHERE ID = @ID
END


GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserHistory]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserHistory] 
	
	@ID_ACTION varchar(50),
	@ID_AIRPORT varchar(50),
	@ACTION varchar(50),
	@DATE_ACTION datetime,
	@ID_AIRLINE varchar(50) = null
	
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE TBL_HISTORY_LOG SET ID_ACTION = @ID_ACTION, ID_AIRPORT = @ID_AIRPORT, ID_AIRLINE = @ID_AIRLINE, ACTION = @ACTION, DATE_ACTION = @DATE_ACTION
END



GO
/****** Object:  StoredProcedure [dbo].[UPD_AIRLINE_AIRPORT_ASSOCIATION]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_AIRLINE_AIRPORT_ASSOCIATION]
@IDAIRLINE nvarchar(50),
@IDAIRPORT nvarchar(50),
@REQUEST nvarchar (50)
AS
UPDATE TBL_AIRLINE_X_AIRPORT SET REQUEST = @REQUEST
WHERE AIRPORT_ID = @IDAIRPORT and AIRLINE_ID = @IDAIRLINE


GO
/****** Object:  StoredProcedure [dbo].[UPD_AIRPORT_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_AIRPORT_PR]
@ID nvarchar(50),
@Name  nvarchar(50),
@Address  nvarchar(50),
@Phone  nvarchar(50),
@ZipCode  nvarchar(50),
@Gate_Tariff  decimal(27,2),
@Runway_Tariff decimal(27,2),
@Tax decimal(27,2),
@Status  bit,
@Asigned bit,
@Latitude nvarchar(50),
@Longitude nvarchar(50)


AS
UPDATE TBL_AIRPORT SET ID =@ID, NAME =@Name, ADDRESS = @Address,
    PHONE = @Phone, 
    ZIPCODE =@ZipCode, RUNWAY_TARIFF = @Runway_Tariff,
    TAX = @Tax, STATUS = @Status, ASIGNED = @Asigned, 
	LATITUDE=@Latitude, LONGITUDE=@Longitude
	WHERE ID = @Id




GO
/****** Object:  StoredProcedure [dbo].[UPD_CATEGORY_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UPD_CATEGORY_PR]
	@Id nvarchar(50),
	@Description nvarchar(50),
	@Status bit
AS
UPDATE TBL_CATEGORY SET ID = @Id, DESCRIPTION = @Description, STATUS = @Status
 WHERE ID=@Id;


GO
/****** Object:  StoredProcedure [dbo].[UPD_GATE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_GATE_PR]
@GATE_ID nvarchar (50),
@ID_AIRPORT nvarchar(50),
@Status bit,
@NUMBER int
AS
UPDATE TBL_GATE SET GATE_ID =@GATE_ID, AIRPORT_ID=@ID_AIRPORT, STATUS = @Status, NUMBER=@NUMBER
WHERE GATE_ID = @GATE_ID



GO
/****** Object:  StoredProcedure [dbo].[UPD_STORE_PR]    Script Date: 5/2/2019 10:08:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_STORE_PR]
@Id nvarchar(50),
@Name nvarchar(50),
@Manager_Name nvarchar (50),
@Phone nvarchar (50),
@Id_Category nvarchar (50),
@Id_Airport nvarchar(50),
@Rent nvarchar(50),
@Status bit

AS
UPDATE TBL_STORE SET ID=@Id, NAME = @Name, MANAGER_NAME = @Manager_Name,
 PHONE = @Phone, ID_CATEGORY=@Id_Category, ID_AIRPORT=@Id_Airport, RENT=@Rent,STATUS=@Status WHERE ID = @Id



GO
USE [master]
GO
